services:
  metabase:
    image: metabase/metabase:v0.56.x
    container_name: metabase
    hostname: metabase
    env_file:
      - .env
    volumes:
      - /dev/urandom:/dev/random:ro
    ports:
      - 3000:3000
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabaseappdb
      MB_DB_PORT: 5432
      MB_DB_USER: metabase
      MB_DB_PASS: ${POSTGRES_PASSWORD}
      MB_DB_HOST: postgres
      MB_ENABLE_PUBLIC_SHARING: false
      MB_EMBEDDING_SECRET_KEY: ${EMBEDDING_SECRET_KEY}
      MB_ENCRYPTION_SECRET_KEY: ${MB_ENCRYPTION_SECRET_KEY}
      MB_SITE_LOCALE: pt
      TZ: America/Sao_Paulo
    networks:
      - metanet1
    healthcheck:
      test: curl --fail -I http://localhost:3000/api/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    container_name: postgres
    hostname: postgres
    env_file:
      - .env
    volumes:
      - metabase_db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: metabase
      POSTGRES_DB: metabaseappdb
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: America/Sao_Paulo
    ports:
      - 5432:5432
    networks:
      - metanet1

networks:
  metanet1:
    driver: bridge

volumes:
  metabase_db_data:
